R"===({
	"pid_file": "",
	"log_file" : "",
	"log_level" : "debug_lo",

	"db_hostname" : "",
	"db_port" : "",
	"db_name" : "",
	"db_username" : "",
	"db_password" : "",

	"node_hostname" : "127.0.0.1",
	"node_port" : "3416",
	"node_username" : "",
	"node_password" : "",

	"daemonize" : false,

	"plain_port" : 3333,
	"tls_port" : 4444,
	"tls_certificate" : "crt.pem",
	"tls_ciper_list" : "HIGH",

	"fatal_node_timeout" : 300,
	"template_timeout" : 60
})==="
